<section>
    <h2>Refund policy</h2>
<br/>
WE HAVE A NO REFUNDS POLICY. Exceptions for returns, exchanges, and refunds will be made according to stipulations laid out below, approved on a case by case basis.
<br/>
<br/>
Provided that the order is eligible and approved by us, you will have a fourteen (14) day window after receiving your item to request a return.
<br/>
<br/>
To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags (where applicable), and in its original packaging (where applicable). You’ll also need the receipt or proof of purchase. We reserve the right to make the final judgement on all returns, exchanges, and refunds.
<br/>
<br/>
To inquire about starting an eligible return, you can contact us at shop@furaffinity.net. If your return is accepted, we’ll send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first properly requesting a return will not be accepted.
<br/>
<br/>
You can always contact us for any returns questions at shop@furaffinity.net.
<br/>
<br/>
<br/>
<br/>
<h3>Unable to fulfill order</h3>
<br/>
If we cannot fulfill your order prior to shipping, at our sole discretion and in our own judgement, we will completely refund the order including shipping and handling. This will be less any sunken/non-refundable costs for custom products and/or charges/fees applicable to any other products or services in the same order, if any.
<br/>
<br/>
<br/>
<br/>
<h3>Damages and issues</h3>
<br/>
Please inspect your order upon reception and contact us immediately if the item is defective, damaged, or if you receive the wrong item, so that we can evaluate the issue and make it right.
<br/>
<br/>
<br/>
<h3>Exceptions / non-returnable items</h3>
<br/>
Certain types of items cannot be returned regardless of condition or circumstances, like digital goods (such as commissions or art packs), custom products (such as special orders or personalized items), and perishable or personal care goods (such as food based items or beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item.
<br/>
<br/>
Unfortunately, we cannot accept returns on sale items or gift cards.
<br/>
<br/>
<br/>
<h3>Exchanges</h3>
<br/>
Provided that an eligible return is accepted, all returns will be exchanged for the same or similar product, dependent on inventory/availability. A refund will only be made if there are no equivalent products in stock or transferring into stock within a reasonable time.
<br/>
<br/>
To reiterate from the above section, no refunds will be made on custom products; these returns will be exchange only, at our discretion.
<br/>
<br/>
<br/>
<h3>Refunds</h3>
<br/>
We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund, as well.
<br/>
<br/>
Original shipping and handling costs will not be eligible for refund.
<br/>
<br/>
<br/>
<br/>
<h3>Gift Cards</h3>
<br/>
Gift cards cannot be returned, exchanged for other products (except as a form of payment during the checkout process), exchanged for cash or other forms of currency, or refunded. No exceptions can be made.
</section>