<section>
<h2>Shipping policy</h2>
<br/>
At the Fur Affinity Merch Shop, our goal is to offer you affordable and reliable shipping options, no matter where you live. Every customer, every day; we are hard at work ensuring that we provide the very highest levels of responsiveness to you at all times.
<br/>
<br/>
See our Shipping Policy below the COVID-19 update section below.
<br/>
<br/>
<br/>
<br/>
COVID-19 UPDATE ON SHIPPING
<br/>
<h3>**Please note</h3>
<br/>
As of initial posting (06/01/2021), all staff handling products or shipments at any stage of fulfillment and shipping have been fully vaccinated against COVID-19. We will maintain our vigilance out of an abundance of caution, until we deem necessary and appropriate to cease these below precautions.
<br/>
<br/>
<br/>
<br/>
<h3>Order Tracking</h3>
<br/>
Please note that ALL orders will be shipped via a method that includes tracking. We STRONGLY recommend that you keep an eye on the shipment notifications and progress. The team here regularly checks shipped packages to ensure delivery and to monitor average shipping timeframes for various regions, both domestic (US) and globally.
<br/>
<br/>
<h3>Domestic Shipping Delays</h3>
<br/>
Please note that domestic orders can take an additional 1-3 business days due to increased mail traffic and shipping carrier policy changes.
<br/>
<br/>
<h3>International Shipping Delays</h3>
<br/>
Please note that many countries and regions have or had shut down completely all mail/delivery traffic from specific or all other countries/regions. For international orders to countries/regions with borders currently open to mail/deliveries from the US, it can take up to an additional 7-14 business days. Please check the status of your country/region before placing the order. Returned orders may be refunded less cost of shipping and handling costs, or can be sent to an intermediary location with additional shipping and handling charges invoiced out.
<br/>
<br/>
<h3>Extra Sanitation Measures in Effect</h3>
<br/>
Our team continually self-monitors for fever and other symptoms, as well as avoiding unnecessary trips outside of our location. We also utilize USPS Pickup and UPS Pickup for our orders whenever possible, and wear masks at all times away from our home and business locations. Frequent hand-washing and availability of hand-sanitizer and anti-microbial soap are integral parts when processing all orders. We also clean and sanitize high contact surfaces in our workspace.
<br/>
<br/>
<h3>Self-Quarantining</h3>
<br/>
If there is the strong chance of exposure to our workplace or home, or any individual on our team, we will notify all current outstanding orders immediately and self-quarantine for the CDC and WHO recommended 14 days. During this time we may implement stricter sanitation measures or suspend all processing/shipping of orders until the all clear is given to resume.
<br/>
<br/>
<h3>Communication</h3>
<br/>
We here at Fur Affinity Merch Shop understand that the best possible way forward is to be open and keep communication lines flowing between our team and you (our guests and customers). Every effort will be made to effectively update you on any changes moving forward during this extreme time of global pandemic.
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
Order Delivery Time Estimates
<br/>
The time frame for order delivery is divided into two parts
<br/>
<br/>
<h3>Processing time</h3>
<br/>
Order verification, tailoring, quality check and packaging. All in-stock orders are processed and have a shipping label created within 3-5 business days after the order is placed. A notification email will be automatically sent to your email address as soon as the label is created with your order and tracking information. An additional 1-2 business days may elapse before the order is scanned in by a postal carrier. Orders for items currently in production or created on a custom or an individual basis may feature longer processing times, his includes all mousepads, mugs, and face masks as they are sublimated and pressed on an individual basis as orders come in.
<br/>
<br/>
<h3>Shipping time</h3>
<br/>
This refers to the time it takes for items to be shipped from our business location to the destination. International delivery usually takes about 14–28 business days. US orders are shipped by First Class Mail or Priority Mail, which are United States Postal Service products. After processing and leaving our location, items usually take between 2 and 4 days to arrive at their domestic/US destination, but can take longer from time to time.
<br/>
<br/>
<br/>
Shipping and Handling Pricing Estimates
<br/>
<h3>Tracking</h3>
<br/>
All of our orders are shipped with tracking. When we fulfill your order and print the shipping label, you should automatically receive a confirmation email that will contain the tracking number for your shipment.
<br/>
<br/>
While this means that postage costs will be a bit higher, we believe that providing reliable shipping and tracking information helps build the trust necessary to our business relationship. If you would like to discuss shipping a smaller and/or inexpensive item without tracking, you are welcome to email us at shop@furaffinity.net.
<br/>
<br/>
<br/>
<br/>
<h3>Shipping</h3>
<br/>
<h3>Costs can vary widely due to our range of product sizes and weights, but for your general planning purposes</h3>
<br/>
<br/>
<h3>Domestic (within US)</h3>
<br/>
<br/>
0lb-1lb AND small, flat items - First Class Mail - $2-$5
<br/>
1lb to 70lbs AND/OR large items - Priority Mail - $7 - $35+
<br/>
<h3>International (outside US)</h3>
<br/>
At this time we are unable to confidently provide estimates for international shipping. We will contact you directly using the email provided after your order has begun processing with any additional shipping costs if needed.
<br/>
<h3>Local Delivery, Pickup, and Drop Off</h3>
<br/>
We do not offer local delivery, pickup or drop off services at this time.
<br/>
<br/>
<br/>
<h3>Handling</h3>
<br/>
<h3>We also include handling charges at a flat rate dependent largely on package size only</h3>
<br/>
<br/>
usually $1 for most orders, up to $5+
<br/>
Extra heavy orders of more than 70lbs are often split into multiple packages, but for certain custom items that may not be possible, so an extra charge may be discussed and invoiced for ahead of time.
<br/>
<br/>
<br/>
Still have questions?
<br/>
Any questions or inquiries can be directed to shop@furaffinity.net, with a Subject Line including "Shipping Policy".
</section>
